apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ndn-controller-{{ .Release.Name }}
  labels:
    named-data.net/component: ndn-controller
    named-data.net/instance: {{ .Release.Name }}
rules:
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "watch", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list", "patch"]
- apiGroups: ["named-data.net"]
  resources: ["networks","neighborlinks"]
  verbs: ["get", "watch", "list", "update", "patch"]
- apiGroups: ["named-data.net"]
  resources: ["routers", "certificates", "externalcertificates"]
  verbs: ["create", "get", "watch", "list", "update", "patch", "delete"]
- apiGroups: ["named-data.net"]
  resources: ["networks/status", "routers/status", "certificates/status", "externalcertificates/status", "neighborlinks/status"]
  verbs: ["update", "patch", "get"]
- apiGroups: ["events.k8s.io"]
  resources: ["events"]
  verbs: ["create", "patch"]
- apiGroups: ["apps"]
  resources: ["daemonsets"]
  verbs: ["create", "patch", "delete"]
- apiGroups: [""]
  resources: ["serviceaccounts", "services"]
  verbs: ["create", "patch", "delete"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles"]
  verbs: ["create", "patch", "delete"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["rolebindings"]
  verbs: ["create", "patch", "delete"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["create", "get", "patch", "delete"]
