name: Lint
on:
  pull_request:
    branches:
    - main
    - release/*
    paths-ignore:
    - README.md
    - docs/**

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build
        run: cargo build --all --locked
      - name: Run tests
        run: cargo test --all --locked
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features
  fmt_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run fmt
        run: cargo fmt --all -- --check --style-edition 2024
  crd_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Generate CRDs
        run: |
          cargo run --package ndn-operator --bin gencrd -- --output ./charts/ndn-operator/templates/crd
      - name: Check CRDs
        run: |
          # Check if there are any changes in the CRD files
          git diff --exit-code ./charts/ndn-operator/templates/crd
          # If there are changes, fail the job
          if [ $? -ne 0 ]; then
            echo "CRD files have changed. Please update the charts/ndn-operator/templates/crd directory."
            exit 1
          fi
